click==6.6
Crowd==2.0.1
Flask==1.1.1
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==0.23
pyasn1==0.1.9
pycryptodome==3.9.0
requests>=2.24.0
werkzeug==0.16.0
lxml==4.6.3
urllib3>=1.25.9
PyJWT==1.7.1
cryptography==3.3.2
